.signup-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.signup-main{
    width: 35%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid palevioletred;
    border-radius: 10px;
    margin: 10px;
}
.signup-main > input{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid darkmagenta;
    font-size: medium;
}
.signup-main > button{
    background-color: white;
    color: darkmagenta;
    width: 20%;
    height: 40px;
    border: 1px solid darkmagenta;
    border-radius: 5px;
    font-size: medium;

}
.signup-div{
    margin: 7px;
}